.best-product-wrapper {
    padding: 140px 0;
}

.best-product {
    display: flex;
    justify-content: space-between;
    &__list {
        max-width: 33.33%;
        h3 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 42px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        transition: all .3s;
        &:hover {
            .best-product__item__image {
                img {
                    transform: scale(1.1);
                }
            }
            h4 {
                color: $pri-color;
            }
        }
        &__image {
            max-width: 110px;
            border-radius: 16px;
            overflow: hidden;
            margin-right: 24px;
            img {
                object-fit: 100%;
                width: 100%;
                transition: transform .3s;
            }
        }
        &__text {
            h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 8px;
                transition: all .3s;
            }
            p {
                color: #000;
            }
            span {
                color: #a9adb1;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .best-product__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .best-product__item__image {
        margin: 0;
        margin-bottom: 16px;
    }
    .best-product__list {
        width: 30%;
        text-align: center;
    }
    .best-product__list h3, .best-product__list .h3 {
        font-size: 24px;
    }
    .best-product__item__text h4, .best-product__item__text .h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .best-product {
        flex-direction: column;
    }
    .best-product__list {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .best-product__item {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__image {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
    .best-product-wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
