.shop-perks-wrapper {
    padding: 48px 0;
}

.shop-perks__container {
    max-width: 1024px;
    margin: auto;
    display: flex;
}

.shop-perks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 2px 6px 0 rgb(37 39 41 / 4%);
    border-radius: 16px;
    border: 1px solid #edf0f4;
    overflow: hidden;
    padding: 37px 82px 37px 70px;
    &__item {
        display: flex;
        align-items: center;
        padding: 16px 0;
        &--middle {
            max-width: 343px;
            flex-grow: 1;
            border-right: 1px solid #e2e6eb;
            border-left: 1px solid #e2e6eb;
            margin: 0 20px;
            padding: 0 20px;
        }
        img {
            margin-right: 20px;
        }
        &__text {
            h6 {
                color: #000;
                margin-bottom: 8px;
            }
            p {
                color: #66696c;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .shop-perks__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .shop-perks {
        width: 95%;
        padding: 30px 24px;
    }
    .shop-perks__item img {
        margin-right: 10px;
        width: 42px;
        max-width: 42px;
    }
    .shop-perks__item__text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .shop-perks-wrapper {
        background-color: #fcfcfc;
    }
}

@media screen and (max-width: 479px) {
    .shop-perks {
        flex-direction: column;
    }
    .shop-perks__item--middle {
        border: none;
        margin: 0;
        padding: 16px 0;
        text-align: center;
        align-items: center;
        max-width: 100%;
        border-top: 1px solid #e2e6eb;
        border-bottom: 1px solid #e2e6eb;
    }
    .shop-perks__item {
        flex-direction: column;
        text-align: center;
        img {
            padding: 0;
            margin: 0;
        }
    }
}