.shop-perks-wrapper {
    padding: 48px 0;
}

.shop-perks__container {
    max-width: 1024px;
    margin: auto;
    display: flex;
}

.shop-perks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 2px 6px 0 rgb(37 39 41 / 4%);
    border-radius: 16px;
    border: 1px solid #edf0f4;
    overflow: hidden;
    padding: 37px 82px 37px 70px;
    &__item {
        display: flex;
        align-items: center;
        padding: 16px 0;
        &--middle {
            max-width: 343px;
            flex-grow: 1;
            border-right: 1px solid #e2e6eb;
            border-left: 1px solid #e2e6eb;
            margin: 0 20px;
            padding: 0 20px;
        }
        img {
            margin-right: 20px;
        }
        &__text {
            h6 {
                color: #000;
                margin-bottom: 8px;
            }
            p {
                color: #66696c;
            }
        }
    }
}